## PART TWO

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

We import the csv file from Part 1.

In [2]:
part1_csv = "Toronto_Dataframe.csv"
table = pd.read_csv(part1_csv).set_index("PostalCode")
table.head()

                Borough                           Neighbourhood
PostalCode
M1B         Scarborough                          Malvern, Rouge
M1C         Scarborough  Highland Creek, Port Union, Rouge Hill
M1E         Scarborough       Morningside, Guildwood, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

Extracting the csv with Toronto geographical coordinates to dataframe:

In [3]:
geo_coord_table=pd.read_csv("https://cocl.us/Geospatial_data")
geo_coord_table.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Some data cleaning:

In [4]:
geo_coord_table.rename(columns={"Postal Code":"PostalCode"}, inplace=True)
geo_coord_table.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [5]:
geo_coord_table.sort_values(by = ['PostalCode'], inplace=True)
table.sort_values(by = ['PostalCode'], inplace=True)

We then append the Toronto_df dataframe with each Postal Code's respective latitude and longitude coordinates.

In [6]:
Toronto_df = table.merge(geo_coord_table, left_on='PostalCode', right_on='PostalCode')
Toronto_df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
Toronto_df.shape

(103, 5)

In [8]:
Toronto_df.to_csv('Toronto_Dataframe2.csv', index=False)